//variables & mixins



// meat of the matter

.calendar {
  display: block;
  background:$white;
  width: 300px;
  border: solid 1px $borderColor;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 $mdGrey;
  border-radius: 2px;
  font-size: 1.3rem;
  text-align: center;

  header {
    @extend .vertical-center;
    color: $white;
    cursor: default;
    font-size:1.4rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;

    .month-display {
      align-items: center;
      height: 40px;
      background: $secondary;
    }

    .month-label {
      flex: 1;
    }

    .arrow {
      text-align: center;
      flex-basis: 15%;
      font-weight: bold;
      cursor: pointer;
      transition: background .2s;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $dkSecondary;
      }
    }
  }

  .week {
    border-top: solid 1px $borderColor;

    &:first-child {
      border-top: none;
    }

    &.approved {
      color: $ltGreen;
    }

    &.rejected {
      color: red;
    }

    &.pending {
      color: orange;
    }
  }

  .day-names {
    color: $secondary;
    font-weight: bold;
    cursor: default;
    font-size: 1.2rem;

    .day {
      @extend .vertical-center;
      cursor: default;

      &:hover {
        background: inherit;

      }
    }
  }

  .day {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 50px;
    border-left: solid 1px $borderColor;
    cursor: pointer;
    transition: all .2s;

    span:first-child {
      margin: 10px 0 4px;
    }
    .worked{
      margin: 5px 0 0 0 ;
    }

    &:hover {
      background: $ltGrey;
    }

    &:first-child {
      border-left:none;
    }

    &.today {
      background: $ltSecondary;
    }

    &.different-month {
      color: $mdGrey;
    }

    &.selected {
      background: $secondary;
      color: $white;
    }
  }
}