$white: #FFFFFF;
$ltGrey: #EFEFEF;
$mdGrey: #C0C0C0;
$dkGrey: #CCCCCC;
$secondary:#2875C7;
$ltGreen: #ADD100;
$dkGreen: #7B920A;
$dkSecondary: darken($secondary,10%);
$ltSecondary: lighten($secondary,45%);
$borderColor: $dkGrey;
$background: $white;